<a href="https://colab.research.google.com/github/Ariefbasha/Democrats-/blob/master/24assmodule3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num=int(input("Enter the binary value of a number: "))
decimal=0
base_value=1
temp=num

while temp!=0:
    last_digit=temp%10
    temp=int(temp/10)
    decimal+=last_digit*base_value
    base_value=base_value*2
print("The value of the binary number",num,"in decimal form is",decimal)

Enter the binary value of a number: 99
The value of the binary number 99 in decimal form is 27

2. Generate first n Fibonacci series.

In [2]:

n= int(input("Enter the value of n: "))
n1, n2 = 0,1 
count=0
print("Fibonacci Sequence upto",n,"terms is: ")
while count<n:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    count+=1

Enter the value of n: 4
Fibonacci Sequence upto 4 terms is:
0
1
1
2

3. Display multiplication table of k. Take k value from user.

In [3]:
k=int(input("Enter a number to print the multiplication table: "))
print("Multiplication table:")
for i in range(1,11):
    print(k,"*",i,"=",k*i)

Enter a number to print the multiplication table: 5
Multiplication table:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

4. Take 10 integers from keyboard using loop and print their average value on the screen Print the following patterns using loop:

 * 
 ** 
 *** 
 ****

In [5]:
for num in range(1,11):
    num= int(input("Enter a value: "))

Enter a value: 1
Enter a value: 2
Enter a value: 3
Enter a value: 4
Enter a value: 5
Enter a value: 6
Enter a value: 7
Enter a value: 8
Enter a value: 9
Enter a value: 10

pattern print

In [6]:
rows = 4
for row in range(1, rows+1):
    for column in range(1, row + 1):
        print("*", end="")
    print("")

*
**
***
****

5. Program to find the GCD of two numbers.

In [7]:
import math
n1= int(input("Enter number 1: "))
n2= int(input("Enter number 2: "))
print(math.gcd(n1,n2),"is the GCD of",n1,"and",n2)

Enter number 1: 3
Enter number 2: 4
1 is the GCD of 3 and 4

6. Program that accepts a word from the user and reverses it.

In [8]:
word=input("Enter a word: ")
reverse= word[::-1]
print("Reverse of",word,"is",reverse)

Enter a word: reverse
Reverse of reverse is esrever

7. Program to count the number of even and odd numbers from a series of numbers.

In [9]:
start=int(input("Enter the starting number of the sequence: "))
end=int(input("Enter the ending number of the sequence: "))
count_even=0
count_odd=0
for num in range(start,end+1):
    if num%2==0:
        count_even+=1
    else:
        count_odd+=1
print("The number of even numbers:",count_even)
print("The number of odd numbers",count_odd)

Enter the starting number of the sequence: 0
Enter the ending number of the sequence: 30
The number of even numbers: 16
The number of odd numbers 15

8. Program that prints all numbers from 0 to 6 except 3 and 6.

In [10]:

for num in range(0,6):
    if num==3:
        continue
    print(num)

0
1
2
4
5