<a href="https://colab.research.google.com/github/Ariefbasha/Democrats-/blob/master/29june.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Program to get the largest and smallest number from a list.

In [1]:
mylist = [6,34,9,14,87,44]
print("The given list is:",mylist)
print("Largest number in the list is",max(mylist))
print("Smallest number in the list:",min(mylist))

The given list is: [6, 34, 9, 14, 87, 44]
Largest number in the list is 87
Smallest number in the list: 6

2.Program to remove duplicate elements from a list.

In [2]:
mylist = [1,4,4,6,3,3,3,8,7,7,0,1]
newlist = []

for item in mylist:
    if item not in newlist:
        newlist.append(item)
print("New list:",newlist)

New list: [1, 4, 6, 3, 8, 7, 0]

3.Program to check if the list is empty or not.

In [3]:
mylist = [6,34,9,14,87,44]
list1 = []
if mylist == []:
    print("True")
else:
    print("False")
    
if list1 != []:
    print("False")
else:
    print("True")

False
True

4.Program to clone or copy a list.

In [4]:
mylist = [6,35,8,18,82,49]
print("Original list:",mylist)
newlist = mylist.copy()
print("Copied list:",newlist)

Original list: [6, 35, 8, 18, 82, 49]
Copied list: [6, 35, 8, 18, 82, 49]

5.Program to print a specified list after removing the 0th, 4th and 5th elements.

In [5]:
mylist = ["Red","Green","White","Black","Pink","Yellow"]
mylist.pop(0)
mylist.remove("Pink")
mylist.remove("Yellow")
print("New list:",mylist)

New list: ['Green', 'White', 'Black']

6.Program to print the numbers of a specified list after removing even numbers from it.

In [6]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for item in mylist:
    if item%2==0:
        mylist.remove(item)
print(mylist)

[1, 3, 5, 7, 9]

7.Program to shuffle and print a list.

In [7]:
from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)
print("New list:",mylist)

New list: [3, 2, 5, 9, 7, 4, 10, 6, 8, 1]

8.Program to find the difference between two lists.

In [8]:
list1 = [1,2,3,4,5,6]
list2 = [4,2,6]
list3 = []
for item in list1:
    if item not in list2:
        list3.append(item)
print(list3,"is the difference between given two lists.")

[1, 3, 5] is the difference between given two lists.